@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src:url(../assets/fonts/Kanit-Regular.ttf);
  }


  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src:url(../assets/fonts/Sarabun/Sarabun-Regular.ttf);
  }